.not-found-page-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.not-found-content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    gap: 0.8rem;
}

.back-to-home-button {
    height: 4.8rem;
    border-radius: 0.8rem;
    background-color: royalblue;
    color: white;
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}