<!-- MAKE -->
<select>
  <option>Audi</option>
  <option>Volvo</option>
</select>
<!-- MODEL -->
<input placeholder="Add model" />
<!-- YEAR -->
<app-select-year-input />
<!-- COLOUR -->
<select>
  <option>Green</option>
  <option>Red</option>
</select>
<!-- PRICE -->
<input placeholder="Add price" />
<!-- MILEAGE -->
<input placeholder="Add mileage" />
<select>
  <option>Kilometres</option>
  <option>Miles</option>
</select>
<!-- FUEL TYPE -->
<select>
  <option>Petrol</option>
  <option>Diesel</option>
</select>
<!-- GEARBOX -->
<select>
  <option>Automatic</option>
  <option>Manual</option>
</select>
<!-- DOORS -->
<select>
  <option>1</option>
  <option>2</option>
</select>
<!-- SEATS -->
<select>
  <option>1</option>
  <option>2</option>
</select>
<!-- ENGINE SIZE -->
<select>
  <option>1.2</option>
  <option>1.4</option>
</select>
<!-- DESCRIPTION -->
<input placeholder="Add description" />
