.car-filter-menu-component {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.car-filter-menu-sidebar {
    height: 100%;
    width: 34rem;
    background: white;
    border-right: 1px solid lightgray;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.6rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
    box-sizing: border-box;
    z-index: 10;
    display: none;

    @media (width >=640px) {
        display: inline;
    }
}

.colour-filter-container {
    align-items: center;
    display: flex;
    gap: 1.6rem;
}

.colour-filter-colour-container {
    border-radius: 100%;

}

.checkbox-container {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.checkbox {
    height: 2.4rem;
    width: 2.4rem;
}

select {
    /* Styles for the select element itself */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #333;
    padding: 1rem;
}