<div>
  <p>About this vehicle</p>
  <p>
    Help buyers know more about the vehicle that you're listing. This
    information will also help you see how the price you list your vehicle at
    compares to the price range of similar vehicles.
  </p>
  <!-- YEAR -->
  <div>
    <select>
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  </div>
  <!-- MAKES -->
  <div>
    <p>Makes</p>
    <select>
      <option *ngFor="let makeInputOption of makeInputOptions">
        {{ makeInputOption.name }}
      </option>
    </select>
  </div>
  <!-- MODEL -->
  <div>
    <p>Model</p>
    <input placeholder="Enter model" type="text" />
  </div>
  <!-- MILEAGE -->
  <div>
    <p>Mileage</p>
    <input placeholder="Enter mileage" type="number" />
  </div>
</div>
