<div *ngIf="!loading && car" class="page-container">
  <div class="page-content-container">
    <h1>{{ car.year }} {{ car.make }} {{ car.model }}</h1>
    <p>Uploaded {{ car.createdAt | dateDistanceToNowFormat }}</p>
    <p>
      {{ priceUnits[car.priceCurrency] }}{{ car.priceTotal.toLocaleString() }}
    </p>
    <div class="car-detail-action-buttons-container">
      <button>
        <fa-icon [icon]="faHeart" />
        Save Car
      </button>
    </div>
    <div *ngIf="car.images">
      <img *ngIf="car.images[0].url" [src]="car.images[0].url" />
      <div>
        <div>
          <input
            *ngFor="let image of car.images"
            type="image"
            [src]="image.url"
            [alt]="image.alt"
          />
        </div>
      </div>
    </div>
    <a [routerLink]="'/' + car.id + '/request-car'">Request To Owner</a>

    <div *ngIf="car.owner">
      <p>{{ car.owner.emailAddress }}</p>
      <a [routerLink]="'/sellers/' + car.owner.emailAddress"
        >Request To Owner</a
      >
    </div>
    <p>Colour: {{ car.colour }}</p>

    <p>Doors: {{ car.doors }} doors</p>

    <p>Seats: {{ car.seats }} seats</p>

    <p>Drive Type: {{ car.driveType }}</p>

    <p>Engine Size: {{ car.engineSize }} {{ car.engineSize }}</p>

    <p>Fuel Type: {{ car.fuelType }}</p>

    <p>Gearbox: {{ car.gearbox }}</p>

    <p>
      Mileage: {{ car.mileageTotal.toLocaleString() }} {{ car.mileageUnit }}
    </p>

    <p>Description</p>
    <p>{{ car.description }}</p>
  </div>
</div>
<div *ngIf="loading">
  <p>Loading...</p>
</div>
<div *ngIf="!loading && errorMessage">
  <p>{{ errorMessage }}</p>
</div>

<div *ngIf="!loading && car" class="car-detail-container">
  <div>
    <div class="car-detail-images-container">
      <div
        *ngFor="let carImage of car.images"
        class="car-detail-image-container"
      >
        <img
          [src]="carImage.url"
          [alt]="carImage.alt"
          class="car-detail-image"
        />
      </div>

      <div class="car-thumbnails-container">
        <div
          *ngFor="let carImage of car.images"
          class="car-thumnbail-container"
        >
          <img
            [src]="carImage.url"
            [alt]="carImage.alt"
            class="car-thumbnail-image"
          />
        </div>
      </div>
    </div>
  </div>
  <div>
    <p>{{ car.year }} {{ car.make }} {{ car.model }}</p>

    <p>{{ car.colour }}</p>

    <p>{{ car.createdAt }}</p>

    <p>{{ car.description }}</p>

    <p>{{ car.doors }} doors</p>

    <p>{{ car.seats }} seats</p>

    <p>{{ car.driveType }}</p>

    <p>{{ car.engineSize }}</p>

    <p>{{ car.fuelType }}</p>

    <p>{{ car.gearbox }}</p>

    <p>{{ car.mileageTotal }} {{ car.mileageUnit }}</p>

    <p>{{ car.priceCurrency }} {{ car.priceTotal }}</p>
  </div>
</div>
<div *ngIf="car">
  <div *ngIf="car.images">
    <div class="car-detail-images-container">
      <div
        *ngFor="let carImage of car.images"
        class="car-detail-image-container"
      >
        <img
          [src]="carImage.url"
          [alt]="carImage.alt"
          class="car-detail-image"
        />
      </div>

      <div class="car-thumbnails-container">
        <div
          *ngFor="let carImage of car.images"
          class="car-thumnbail-container"
        >
          <img
            [src]="carImage.url"
            [alt]="carImage.alt"
            class="car-thumbnail-image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
