.car-images-container {
  aspect-ratio: 4/3;
  border-radius: 1.6rem;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  width: 100%;
}

.car-image-container {
  height: 100%;
  min-width: 100%;
  scroll-snap-align: start;
}

.car-image {
  height: 100%;
  min-width: 100%;
}

.car-thumbnail-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.car-thumbnail-container {
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  border-radius: 0.8rem;
}

.car-thumbnails-container {
  align-items: center;
  width: 100%;
  display: flex;
  overflow: hidden;
  overflow-y: scroll;
  gap: 1.6rem;
  padding: 1.6rem 0;
}

.car-detail-container {
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  padding: 1.6rem;
  gap: 1.6rem;
}

.car-detail-images-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.car-detail-content-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.car-detail-action-buttons-container {
  align-items: center;
  display: flex;
  gap: 1.6rem;
}

.car-detail-car-owner-avatar-image {
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
  object-fit: cover;
}

.car-detail-car-owner-container {
  align-items: center;
  display: flex;
}
