.spinner {
  height: 4rem;
  width: 4rem;
  border: solid 4px var(--primary-500);
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  will-change: transform;
  animation: spin 1000ms infinite linear;
}

.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 6.4rem 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}