.page-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.page-layout-body-container {
  background-color: whitesmoke;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 7rem;
}