.page-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  background-color: whitesmoke;
  color: black;
}


@media (prefers-color-scheme: dark) {
  .page-layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
    background-color: #090515;
    color: white;
  }
}


.page-layout-body-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 100%;
  padding: 3.2rem 0;
  padding-top: 7rem;
}