<!-- Sign up form contains inputs and validators to handle user sign up. -->
<!-- Form will only sibmit once the fields are valid. -->
<form
  class="form-container"
  [formGroup]="updatePasswordForm"
  (ngSubmit)="handleUpdatePassword()"
>
  <!-- FIRST NAME -->
  <!-- Input is wrapped in a label for accessibility. -->
  <label for="currentPassword">
    <p>Type current password</p>
    <input
      id="currentPassword"
      type="password"
      formControlName="currentPassword"
      placeholder="Current Pasword"
    />
  </label>
  <!-- First name validators. -->
  <!-- Show validation if form is invalid and this input has been touched or form has been submitted. -->
  <div
    *ngIf="
      (formControls.currentPassword.touched &&
        formControls.currentPassword.invalid) ||
      formSubmitted
    "
  ></div>

  <!-- PASSWORD -->
  <!-- Input is wrapped in a label for accessibility. -->
  <label for="newPassword">
    <p>Type new password</p>
    <input
      id="newPassword"
      type="password"
      formControlName="newPassword"
      placeholder="New Password"
    />
  </label>
  <!-- Show validation if form is invalid and this input has been touched or form has been submitted. -->
  <div
    *ngIf="
      (formControls.newPassword.touched && formControls.newPassword.invalid) ||
      formSubmitted
    "
  >
    <!-- Show this validator error if input is empty. -->
    <p *ngIf="formControls.newPassword.errors?.['required']">
      Password is required.
    </p>
  </div>

  <!-- If the server response returns an error display it here. -->
  <p *ngIf="formErrorMessage">{{ formErrorMessage }}</p>

  <!-- If the form is loading show a loading indicator. Otherwise show the form submit button.  -->
  <button class="primary-button" type="submit" [disabled]="formLoading">
    {{ formLoading ? 'Loading' : 'Change Password' }}
  </button>
</form>
