<div>
  <p>Vehicle details</p>
  <p>Include more details to help connect interested buyers to your vehicle.</p>
  <!-- CONDITIONS -->
  <div>
    <p>Conditions</p>
    <select>
      <option *ngFor="let conditionInputOption of conditionInputOptions">
        {{ conditionInputOption.name }}
      </option>
    </select>
  </div>
  <!-- ENGINE SIZE -->
  <div>
    <p>Engine size</p>
    <select>
      <option
        *ngFor="let engineSize of generateEngineSizes(1.0, 3.1, 0.1)"
        [value]="engineSize"
      >
        {{ engineSize }}
      </option>
    </select>
  </div>
  <!-- FUEL TYPE -->
  <div>
    <p>Fuel type</p>
    <select>
      <option *ngFor="let fuelTypeInputOption of fuelTypeInputOptions">
        {{ fuelTypeInputOption.name }}
      </option>
    </select>
  </div>
  <!-- GEARBOX -->
  <div>
    <p>Gearbox</p>
    <select>
      <option *ngFor="let gearboxInputOption of gearboxInputOptions">
        {{ gearboxInputOption.name }}
      </option>
    </select>
  </div>
</div>
<button (click)="navigateBack()">Back</button>
<button (click)="navigateNext()">Next</button>
