<!-- CHANGE PASSWORD FORM -->
<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <!-- AVATAR URL  INPUT -->
  <label for="avatarUrl">
    <input
      id="avatarUrl"
      type="text"
      formControlName="avatarUrl"
      placeholder="New email"
    />
  </label>

  <!-- AVATAR URL VALIDATORS -->
  <div
    *ngIf="formControls.avatarUrl.invalid && formControls.avatarUrl.touched"
  ></div>

  <!-- FIRST NAME INPUT -->
  <label for="firstName">
    <input
      id="firstName"
      type="text"
      formControlName="firstName"
      placeholder="First Name"
    />
  </label>

  <!-- FIRST NAME VALIDATORS -->
  <div
    *ngIf="formControls.firstName.invalid && formControls.firstName.touched"
  ></div>

  <!--LAST NAME  INPUT -->
  <label for="lastName">
    <input
      id="lastName"
      type="text"
      formControlName="lastName"
      placeholder="LastName"
    />
  </label>

  <!-- LAST NAME VALIDATORS -->
  <div
    *ngIf="formControls.lastName.invalid && formControls.lastName.touched"
  ></div>

  <!--  SUBMIT BUTTON -->
  <button type="submit" [disabled]="form.invalid">Change Password</button>
</form>
