.footer-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  gap: 2.4rem;
  padding: 2.4rem;
  background-color: white;
  justify-content: center;

  @media (width >=940px) {
    flex-direction: row;
    padding: 0 1.6rem;
    justify-content: center;
  }
}

.footer-links-container {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex: 2;
  flex-flow: wrap;
  gap: 1.6rem;
  justify-content: center;
  width: 100%;
}

.footer-link {
  font-size: 1.4rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-copyright-text {
  font-size: 1.4rem;
}

.active {
  color: royalblue;
}
