.footer-container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    gap: 2.4rem;
    padding: 2.4rem;
    background-color: white;

    @media (width >=940px) {
        flex-direction: row;
        padding: 0 1.6rem;
    }
}

.footer-copyright-container {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.footer-links-container {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex: 2;
    flex-flow: wrap;
    gap: 1.6rem;
    justify-content: center;
    width: 100%;


    @media (width >=640px) {
        justify-content: flex-end;
    }
}

.footer-link {
    font-size: 1.4rem;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-copyright-text {
    font-size: 1.4rem;
}