<footer class="footer-container">
  <div class="footer-copyright-container">
    <p class="footer-copyright-text">© {{ currentYear }} {{ companyName }}</p>
  </div>
  <div class="footer-links-container">
    <a
      class="footer-link"
      *ngFor="let footerLink of footerLinks"
      [routerLink]="footerLink.path"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ footerLink.name }}</a
    >
  </div>
  <div class="footer-social-links-container">
    <a
      *ngFor="let socialLink of socialLinks"
      [href]="socialLink.url"
      target="_blank"
    >
      <fa-icon class="footer-social-link-icon" [icon]="socialLink.icon" />
    </a>
  </div>
</footer>
