<!-- SIGN UP FORM -->
<form
  class="form-container"
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="handleForgotPassword()"
>
  <!-- EMAIL INPUT -->
  <label for="email">
    <input
      class="form-input"
      id="email"
      type="email"
      formControlName="email"
      placeholder="Email address"
    />
  </label>

  <!-- EMAIL VALIDATORS -->
  <div *ngIf="formControls.email.invalid && formControls.email.touched">
    <!-- EMAIL REQUIRED VALIDATOR -->
    <p class="danger" *ngIf="formControls.email.errors?.['required']">
      Email is required.
    </p>
    <!-- EMAIL FORMAT VALIDATOR -->
    <p class="danger" *ngIf="formControls.email.errors?.['email']">
      Invalid email format.
    </p>
  </div>

  <a class="link" routerLink="/auth/login">Login?</a>
  <a class="link" routerLink="/auth/sign-up">Sign up?</a>

  <!--  SUBMIT BUTTON -->
  <button
    class="primary-button"
    type="submit"
    [disabled]="forgotPasswordForm.invalid"
  >
    Send Email
  </button>
</form>
