<li *ngIf="car" class="car-card-container">
  <a [routerLink]="'/cars/' + car.id" class="car-link">
    <div *ngIf="car.images">
      <img [src]="car.images[0].url" [alt]="car.images[0].alt" />
    </div>
    <p>{{ car.year }} {{ car.make }} {{ car.model }}</p>
    <p>{{ car.mileageTotal.toLocaleString() }} miles</p>
    <p>{{ car.fuelType }}</p>
    <p>{{ car.gearbox }}</p>
    <p>£{{ car.priceTotal.toLocaleString() }}</p>
    <button>Make Request</button>
    <button type="button" (click)="saveCar($event, car.id)">Save Car</button>
  </a>
</li>
