<!-- Sign up form contains inputs and validators to handle user sign up. -->
<!-- Form will only sibmit once the fields are valid. -->
<form
  class="form-container"
  [formGroup]="closeAccountForm"
  (ngSubmit)="handleCloseAccount()"
>
  <!-- FIRST NAME -->
  <!-- Input is wrapped in a label for accessibility. -->
  <label for="close">
    <p>Type CLOSE</p>
    <input id="close" type="text" formControlName="close" placeholder="Close" />
  </label>
  <!-- First name validators. -->
  <!-- Show validation if form is invalid and this input has been touched or form has been submitted. -->
  <div
    *ngIf="
      (formControls.close.touched && formControls.close.invalid) ||
      formSubmitted
    "
  ></div>

  <!-- PASSWORD -->
  <!-- Input is wrapped in a label for accessibility. -->
  <label for="password">
    <p>Password</p>
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="Password"
    />
  </label>
  <!-- Show validation if form is invalid and this input has been touched or form has been submitted. -->
  <div
    *ngIf="
      (formControls.password.touched && formControls.password.invalid) ||
      formSubmitted
    "
  >
    <!-- Show this validator error if input is empty. -->
    <p *ngIf="formControls.password.errors?.['required']">
      Password is required.
    </p>
  </div>

  <!-- If the server response returns an error display it here. -->
  <p *ngIf="formErrorMessage">{{ formErrorMessage }}</p>

  <!-- If the form is loading show a loading indicator. Otherwise show the form submit button.  -->
  <button class="primary-button" type="submit" [disabled]="formLoading">
    {{ formLoading ? 'Loading' : 'Close Account' }}
  </button>
</form>
