<!-- HEADER -->
<header class="header-container">
  <!-- LOGO -->
  <div class="header-logo-container">
    <a class="header-logo-text" routerLink="/">{{
      companyName.toLowerCase()
    }}</a>
  </div>
  <!-- LINKS -->
  <div class="header-links-container">
    <a
      class="header-link-text"
      *ngFor="let headerLink of headerLinks"
      [routerLink]="headerLink.path"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ headerLink.name }}</a
    >
  </div>

  <!-- CONTROLS -->
  <div *ngIf="!userSignedIn" class="header-controls-container">
    <button class="primary-button" (click)="navigateTo('/auth/sign-up')">
      Login or Sign Up
    </button>
  </div>

  <div *ngIf="userSignedIn" class="header-controls-container">
    <div
      *ngFor="let headerControl of headerControls"
      class="header-control-container"
    >
      <input
        *ngIf="avatarUrl && headerControl.name === 'Profile'"
        (mouseover)="handleControlMouseOver('Profile')"
        (mouseout)="handleControlMouseOut()"
        (click)="navigateTo('/profile')"
        class="avatar-image"
        type="image"
        [src]="avatarUrl"
      />
      <button
        *ngIf="
          headerControl.name !== 'Profile' ||
          (headerControl.name === 'Profile' && !avatarUrl)
        "
        (click)="navigateTo(headerControl.url)"
        (mouseover)="handleControlMouseOver(headerControl.name)"
        (mouseout)="handleControlMouseOut()"
        class="header-control-button"
      >
        <fa-icon [icon]="headerControl.icon"></fa-icon>
        <div
          *ngIf="headerControl.name === 'Messages'"
          class="counter-container"
        >
          <p class="counter-text">6</p>
        </div>
      </button>
      <div
        *ngIf="controlMouseOverActiveName === headerControl.name"
        class="header-control-name-container"
      >
        <p>{{ headerControl.name }}</p>
      </div>
    </div>

    <button class="header-control-button">
      <fa-icon class="header-control-icon" [icon]="faBars"></fa-icon>
    </button>
  </div>
</header>
