<!-- HEADER -->
<header class="header-container">
  <!-- LOGO -->
  <div class="header-logo-container">
    <a class="header-logo-text" routerLink="/">{{
      companyName.toLowerCase()
    }}</a>
  </div>
  <!-- LINKS -->
  <div class="header-links-container">
    <a
      class="header-link-text"
      *ngFor="let headerLink of headerLinks"
      [routerLink]="headerLink.path"
      >{{ headerLink.name }}</a
    >
  </div>

  <div>
    <fa-icon [icon]="faBars"></fa-icon>
    <fa-icon [icon]="faHeart"></fa-icon>
    <fa-icon [icon]="faUser"></fa-icon>
  </div>

  <!-- CONTROLS -->
  <div class="header-controls-container">
    <a routerLink="/profile">Profile</a>
    <button (click)="navigateTo('/auth/sign-up')">Sign Up</button>
    <button (click)="navigateTo('/auth/login')">Login</button>
  </div>
</header>
