<!-- HEADER -->
<header class="header-container">
  <!-- LOGO -->
  <div class="header-logo-container">
    <a class="header-logo-text" routerLink="/">{{
      companyName.toLowerCase()
    }}</a>
  </div>
  <!-- LINKS -->
  <div class="header-links-container">
    <a
      class="header-link-text"
      *ngFor="let headerLink of headerLinks"
      [routerLink]="headerLink.path"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ headerLink.name }}</a
    >
  </div>

  <!-- CONTROLS -->
  <div *ngIf="!userSignedIn" class="header-controls-container">
    <button class="secondary-button" (click)="navigateTo('/sign-up')">
      Login or Sign Up
    </button>
  </div>

  <!-- <div *ngIf="user | async as userData" class="header-controls-container"> -->
  <button (click)="toggleBurgerMenu()" class="header-control-button">
    <fa-icon class="header-control-icon" [icon]="faBars"></fa-icon>
  </button>

  <button (click)="logout()">Log out</button>
  <!-- </div> -->
</header>
