<!-- SIGN UP FORM -->
<form [formGroup]="signUpForm" (ngSubmit)="handleSignUp()">
  <!-- EMAIL INPUT -->
  <label for="email">
    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="Email address"
    />
  </label>

  <!-- EMAIL VALIDATORS -->
  <div *ngIf="formControls.email.invalid && formControls.email.touched">
    <!-- EMAIL REQUIRED VALIDATOR -->
    <div *ngIf="formControls.email.errors?.['required']">
      Email is required.
    </div>
    <!-- EMAIL FORMAT VALIDATOR -->
    <div *ngIf="formControls.email.errors?.['email']">
      Invalid email format.
    </div>
  </div>

  <!-- FIRST NAME INPUT -->
  <label for="first-name">
    <input
      id="first-name"
      type="text"
      formControlName="firstName"
      placeholder="First name"
    />
  </label>

  <!-- FIRST NAME VALIDATORS -->
  <div *ngIf="formControls.firstName.invalid && formControls.firstName.touched">
    <!-- FIRST NAME REQUIRED VALIDATOR -->
    <div *ngIf="formControls.firstName.errors?.['required']">
      First name is required.
    </div>
  </div>

  <!-- LAST NAME INPUT -->
  <label for="last-name">
    <input
      id="last-name"
      type="text"
      formControlName="lastName"
      placeholder="Last name"
    />
  </label>

  <!-- LAST NAME VALIDATORS -->
  <div *ngIf="formControls.lastName.invalid && formControls.lastName.touched">
    <!-- LAST NAME REQUIRED VALIDATOR -->
    <div *ngIf="formControls.lastName.errors?.['required']">
      Last name is required.
    </div>
  </div>

  <!-- PASSWORD INPUT -->
  <label for="password">
    <input
      id="password"
      type="password"
      formControlName="password"
      minlength="8"
      placeholder="Password"
    />
  </label>

  <!-- PASSWORD VALIDATORS -->
  <div *ngIf="formControls.password.invalid && formControls.password.touched">
    <!-- PASSWORD REQUIRED VALIDATOR -->
    <div *ngIf="formControls.password.errors?.['required']">
      Password is required.
    </div>
    <!-- PASSWORD MIN LENGTH VALIDATOR -->
    <div *ngIf="formControls.password.errors?.['minlength']">
      Password must be at least 8 characters long.
    </div>
  </div>

  <a routerLink="/auth/login">Login?</a>

  <!-- SIGN UP SUBMIT BUTTON -->
  <button type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
</form>
