<!-- Sign up form contains inputs and validators to handle user sign up. -->
<!-- Form will only sibmit once the fields are valid. -->
<form [formGroup]="signUpForm" (ngSubmit)="handleSignUp()">
  <!-- EMAIL ADDRESS -->
  <!-- Input is wrapped in a label for accessibility. -->
  <label for="emailAddress">
    <input
      id="emailAddress"
      type="email"
      formControlName="emailAddress"
      placeholder="Email address"
    />
  </label>
  <!-- Email address validators. -->
  <!-- Show validation if form is invalid and this input has been touched or form has been submitted. -->
  <div
    *ngIf="
      (formControls.emailAddress.touched &&
        formControls.emailAddress.invalid) ||
      formSubmitted
    "
  >
    <!-- Show this if email address is empty. -->
    <p *ngIf="formControls.emailAddress.errors?.['required']">
      Email is required.
    </p>
    <!-- Show this If email address not in valid email format. -->
    <p *ngIf="formControls.emailAddress.errors?.['email']">
      Invalid email format.
    </p>
  </div>
  <!-- FIRST NAME -->
  <!-- Input is wrapped in a label for accessibility. -->
  <label for="first-name">
    <input
      id="first-name"
      type="text"
      formControlName="firstName"
      placeholder="First name"
    />
  </label>
  <!-- First name validators. -->
  <!-- Show validation if form is invalid and this input has been touched or form has been submitted. -->
  <div
    *ngIf="
      (formControls.firstName.touched && formControls.firstName.invalid) ||
      formSubmitted
    "
  >
    <!-- Show this validator error if first name input is empty. -->
    <p *ngIf="formControls.firstName.errors?.['required']">
      First name is required.
    </p>
  </div>
  <!-- LAST NAME -->
  <!-- Input is wrapped in a label for accessibility. -->
  <label for="last-name">
    <input
      id="last-name"
      type="text"
      formControlName="lastName"
      placeholder="Last name"
    />
  </label>
  <!-- Show validation if form is invalid and this input has been touched or form has been submitted. -->
  <div
    *ngIf="
      (formControls.lastName.touched && formControls.lastName.invalid) ||
      formSubmitted
    "
  >
    <!-- Show this validator error if input is empty. -->
    <p *ngIf="formControls.lastName.errors?.['required']">
      Last name is required.
    </p>
  </div>
  <!-- PASSWORD -->
  <!-- Input is wrapped in a label for accessibility. -->
  <label for="password">
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="Password"
    />
  </label>
  <!-- Show validation if form is invalid and this input has been touched or form has been submitted. -->
  <div
    *ngIf="
      (formControls.password.touched && formControls.password.invalid) ||
      formSubmitted
    "
  >
    <!-- Show this validator error if input is empty. -->
    <p *ngIf="formControls.password.errors?.['required']">
      Password is required.
    </p>
    <!-- Show this validator error if input has less than eight characters. -->
    <p *ngIf="formControls.password.errors?.['minlength']">
      Password must be at least 8 characters long.
    </p>
    <!-- Show this custom validator error if input has no numbers. -->
    <p *ngIf="formControls.password.errors?.['minimumNumbers']">
      Password must contain at least one number.
    </p>
    <!-- Show this custom validator error if input has no capital letters. -->
    <p *ngIf="formControls.password.errors?.['minimumCapitalLetters']">
      Password must contain at least one capital letter.
    </p>
    <!-- Show this custom validator error if input has no special characters. -->
    <p *ngIf="formControls.password.errors?.['minimumSpecialCharacters']">
      Password must contain at least one special character.
    </p>
  </div>

  <!-- Link to login page if user already has an account. -->
  <a routerLink="/auth/login">Login?</a>

  <!-- If the server response returns an error display it here. -->
  <p *ngIf="formErrorMessage">{{ formErrorMessage }}</p>

  <!-- If the form is loading show a loading indicator. Otherwise show the form submit button.  -->
  <button type="submit" [disabled]="formLoading">
    {{ formLoading ? 'Loading' : 'Sign Up' }}
  </button>
</form>
