<!-- CHANGE PASSWORD FORM -->
<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <!-- PASSWORD INPUT -->
  <label for="currentPassword">
    <input
      id="currentPassword"
      type="password"
      formControlName="currentPassword"
      minlength="8"
      placeholder="Password"
    />
  </label>

  <!-- PASSWORD VALIDATORS -->
  <div
    *ngIf="
      formControls.currentPassword.invalid &&
      formControls.currentPassword.touched
    "
  >
    <!-- PASSWORD REQUIRED VALIDATOR -->
    <div *ngIf="formControls.currentPassword.errors?.['required']">
      Current Password is required.
    </div>
    <!-- PASSWORD MIN LENGTH VALIDATOR -->
    <div *ngIf="formControls.currentPassword.errors?.['minlength']">
      Current password must be at least 8 characters long.
    </div>
  </div>

  <!-- PASSWORD INPUT -->
  <label for="newPassword">
    <input
      id="newPassword"
      type="password"
      formControlName="newPassword"
      minlength="8"
      placeholder="Password"
    />
  </label>

  <!-- PASSWORD VALIDATORS -->
  <div
    *ngIf="formControls.newPassword.invalid && formControls.newPassword.touched"
  >
    <!-- PASSWORD REQUIRED VALIDATOR -->
    <div *ngIf="formControls.newPassword.errors?.['required']">
      New password is required.
    </div>
    <!-- PASSWORD MIN LENGTH VALIDATOR -->
    <div *ngIf="formControls.newPassword.errors?.['minlength']">
      New password must be at least 8 characters long.
    </div>
  </div>

  <!--  SUBMIT BUTTON -->
  <button type="submit" [disabled]="form.invalid">Change Password</button>
</form>
